<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This</title>
</head>
<body>
    <h1>This is my website</h1>
    <form action="result" method="post">
     {% csrf_token %}
    <label for="">Enter the words</label>
   <textarea name="text" id="" cols="30" rows="10"></textarea>
   <br>

   <input type="submit" name="submit">

     
</form>
 
    
</body>
</html>